<div class="ldnddev-slider__item">
    <div class="ldnddev-slider__video">
        {{ content.field_ldnddev_slider_video }}
    </div>
    <div class="ldnddev-slider__copy">
        {{ content.field_ldnddev_slider_copy }}
    </div>
</div>